body

{
  height: 1000px;
	background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.9)), url('Images/Leonard1.jpg');
font-size: 30px;
font-style: oblique;
}


.Guess{
  position: absolute;
  left: 100px;
  top: 150px;
}


.Input
{
  margin-left: auto;
     margin-right: auto;
     width: 8em
}


.Incorrect{
  {
     position: fixed;
     bottom: 0;
     right: 0;
}



.correct{

  }
